<nav id="homeNav">
            <h1 id="h1Home">{{name}} {{surname}}</h1>
            <div id="links">    
                <span><a href="/about">About</a></span>
                <span><a href="/works">Works</a></span>
                <span><a href="/gallery">Photo Gallery</a></span>
            </div> 
</nav>