<nav class="rest">
        <div class="navRest">
            <span><a href="/">Home</a></span>
            <span><a href="/about">About</a></span>
            <span><a href="/works">Works</a></span>
            <span><a href="/gallery">Photo Gallery</a></span>
        </div>
</nav>