
<body class="bodyRest">
    {{>navRest}}
    <div id="containerRest">
        <h1 class="pad">Gallery</h1>
        <div id="gallery">
            <img class="galleryImg" src="img/gervais1.jpeg" alt="The Office">
            <img class="galleryImg" src="img/gervais2.jpeg" alt="Stand Up">
        </div>
    </div>
</body>
