
<body id="home">
    <div id="container">
        {{>navMain}}
        <div id="homeimg">
            <img src="https://c.tenor.com/fcN86SeLajQAAAAC/ricky-gervais-california.gif" alt="Ricky Gervais California GIF - Ricky Gervais California Wank GIFs">
        </div>
    </div>
    
</body>
