<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body id="home">
    <div id="container">
        <nav id="homeNav">
            <h1 id="h1Home">Ricky Gervais</h1>
            <div id="links">    
                <span><a href="/about.html">About</a></span>
                <span><a href="/works.html">Works</a></span>
                <span><a href="/gallery.html">Photo Gallery</a></span>
            </div> 
        </nav>
        <div id="homeimg">
            <img src="https://c.tenor.com/fcN86SeLajQAAAAC/ricky-gervais-california.gif" alt="Ricky Gervais California GIF - Ricky Gervais California Wank GIFs">
        </div>
    </div>
    
</body>
</html>