<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="bodyRest">
    <nav class="rest">
        <div class="navRest">
            <span><a href="/">Home</a></span>
            <span><a href="/about">About</a></span>
            <span><a href="/works">Works</a></span>
            <span><a href="/gallery">Photo Gallery</a></span>
        </div>
    </nav>
    <div id="containerRest">
        <h1>Work</h1>
            <h2>Television</h2>
                <h3>The Office</h3>
                <p>
                    The Office started when Stephen Merchant had to make his own short film while on a BBC production course. In August 1999 he made a docu-soap parody, set in an office, with help from Ash Atalla who was shown a 7-minute video called 'The Seedy Boss'. Thus the character of David Brent was created. Merchant passed this tape on to the BBC's Head of Entertainment Paul Jackson at the Edinburgh Fringe, who then passed it on to Head of Comedy Jon Plowman, who eventually commissioned a full-pilot script from Merchant and Gervais.    
                </p>
                <p>
                    The first six-episode series of The Office aired in the UK in July and August 2001 to little fanfare or attention. Word-of-mouth, repeats, and DVDs helped spread the word, building up momentum and anticipation for the second series, also comprising six episodes. Following the success of The Office's second series, Gervais was named the most powerful person in TV comedy by Radio Times.
                </p>
                <p>
                    In 2004, The Office won the Golden Globe Award for Best Television Series – Musical or Comedy as well as Best Actor – Television Series Musical or Comedy for Gervais, who said in a 2015 BBC interview that the award was the gateway to America for him.
                </p>
                <p>
                    The Office brand has since been remade for audiences in Sweden, France, Germany, Quebec, Brazil, and the United States. Gervais and Merchant are producers of the American version, and they also co-wrote the episode "The Convict" for the show's third season. Gervais has said that the episode "Training" is his favourite, where Brent plays his guitar and sings. In 2021, upon the show's 20th anniversary Gervais suggested it would not have been produced if it was done in 2021 due to cancel culture. He said "I mean now it would be cancelled. I'm looking forward to when they pick out one thing and try to cancel it. Someone said they might try to cancel it one day, and I say, 'Good let them cancel it. I've been paid!"
                </p>
                <h2>Stand-up Comedy</h2>
                <p>
                    Gervais began his stand-up career in the late 1990s; his first successful show took place at the Cafe Royal, as part of the 2001 Edinburgh Festival Fringe. Titled Rubbernecker, the show also featured Jimmy Carr, Robin Ince and Stephen Merchant.
                </p>
                <p>
                    Gervais later toured the UK in 2003 with his stand-up show Animals. The Politics tour followed a year later. Both of these shows were recorded for release on DVD and television broadcast. The third part of the themed live trilogy, Fame, took place in 2007. It started in Glasgow in January and ended in Sheffield in April. Blackpool reported selling out of tickets within 45 minutes of them going on sale.
                </p>
                <p>
                    Newsnight Review's panel saw Animals during its Bloomsbury run and covered it in January 2003. They were not favourable, with Private Eye editor Ian Hislop saying it was "cobbled together ... banal ... a bit flat". After this, Gervais closed each show by calling Hislop an "ugly little pug-faced cunt".
                </p>
                <p>
                    Fame was the subject of some controversy in January 2007 when Gervais included a routine, ostensibly about how people will do anything to become famous, referring to the murder of prostitutes in Ipswich.
                </p>
                <p>
                    Gervais's fourth show was entitled Science, and commenced with an eleven-date tour in August 2009 at the Scottish Exhibition and Conference Centre in Glasgow. The DVD for Science was released on 15 November 2010.
                </p>
                <p>
                    In November 2009, he headlined the sixth annual New York Comedy Festival at Carnegie Hall.
                </p>
                <p>
                    In 2013, Gervais announced that his next stand-up show would be called Humanity. In December 2014, he said he was too busy to do this tour due to producing two films.
                </p>
                <p>
                    In May 2016, Gervais performed stand-up in London, starting with some low key warm-ups with cast members from Derek. He said, "Finally, I'm going to do some stand-up. The first in about six years if you don't count hosting the Golden Globes".
                </p>
                <p>
                    He continued his Humanity show throughout 2017 and into 2018; appearing at SF Sketchfest as part of the tour, which devoted a night in honor of the comedian, alongside comedic legend and mentor Christopher Guest.
                </p>
                <p class="last">
                    His next tour and Netflix special SuperNature was announced in late 2018, where Gervais warned people not to travel to see "work in progress" as it would be a "shambles". SuperNature shows continued through 2019 and 2020. Following significant cancellations and postponements as a result of the COVID-19 pandemic, SuperNature tours resumed in August 2021.
                </p>
    </div>
</body>
</html>